[type glog]
pattern: (.)([0-9]{2})([0-9]{2}) ([0-9]{2})(:)([0-9]{2})(:)([0-9]{2})(\.)([0-9]+) ([0-9]+) (([^ ]+?)((.)([a-z])*)?)(:)([0-9]+)(]) (.*)
activation: implicit
group: 0 log_type
group: 1 month
group: 2 day
group: 3 hour
group: 4 time_separator
group: 5 minute
group: 6 time_separator
group: 7 seconds
group: 8 time_separator
group: 9 millseconds
group: 10 thread
group: 11 path
group: 12 path_base
group: 13 path_dot_and_extension
group: 14 path_dot
group: 15 path_extension
group: 16 post_path_separator
group: 17 path_line
group: 18 post_path_line_separator
group: 19 message

[type etc_passwd]
pattern: ^([^:]+):([^:]+):([0-9]+):([0-9]+):([^:]*):([^:]+):([^:]+)$
group: 0 username
group: 1 password_placeholder
group: 2 uid
group: 3 gid
group: 4 user_info_gecos
group: 5 home_directory
group: 6 shell

[type etc_shadow]
pattern: ^([^:]+):([^:]+):([0-9]*):([0-9]*):([0-9]*):([0-9]*):([0-9]*):([0-9]*):([^:]*)$
group: 0 username
group: 1 encrypted_password
group: 2 last_change_days
group: 3 min_days_before_change
group: 4 max_days_before_change
group: 5 warn_days_before_expiry
group: 6 expiration_days_after_disable
group: 7 account_expiration_date
group: 8 reserved_field

[type grep-n]
pattern: ^(((.*/)?([^:/.]+))((\.)([^:/]+))?(:)([0-9]+))(:)(.*)
group: 0 path_and_line path
group: 1 path_directory_and_base
group: 2 path_directory
group: 3 path_base
group: 4 path_dot_and_extension
group: 5 path_dot
group: 6 path_extension
group: 7 post_path_separator
group: 8 path_line
group: 9 post_path_line_separator
group: 10 message

[view main]
variable: path_base bold
variable: path_directory cyan
variable: path_extension bold
variable: path_line log_type == "glog" ? hash(path + path_line) : dim
variable: thread hash(thread)
variable: message log_type == "E" ? red : default
variable: log_type log_type == "E" ? red : default
variable: log_type bold
variable: username username == "root" ? bold : default
variable: uid green
variable: home_directory home_directory == "/nonexistent" ? dim : bold
variable: password_placeholder password_placeholder == "x" ? dim : bg_red
variable: shell shell == "/usr/sbin/nologin" ? dim : default
variable: time_separator dim
variable: post_path_separator dim
variable: post_path_line_separator dim
variable: path_dot dim

[view file]
variable: path_base bold.union(hash(path))
variable: message log_type == "E" ? red : default
variable: log_type log_type == "E" ? red.union(bold) : default
variable: time_separator dim
variable: post_path_separator dim
variable: path_dot dim
